<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Create Date</th>
            <th scope="col">Delete Bucket</th>

        </tr>
        </thead>
        <tr>
            <td scope="row" class="table-light">customerName</td>
            <td scope="row" class="table-light">customer</td>
            <td scope="row" class="table-light">customer</td>
        </tr>
    </table>
</body>
</html>